
.projectContainer {
  background-color: rgb(36, 36, 36);
  margin-top: 0;
  width: auto;
  min-height: 100vh;
  padding: 3rem 2rem;
  color: #d8d8d8da;
  border: 2px solid rgb(255, 94, 0);
  margin-bottom: 2rem;
}

.projectAlone {
  display: flex;
  flex-direction: row;
  align-items: center
}

.projectDescription {
  font-family: 'Cousine', monospace;
  padding: 2rem;
  flex: 60%
}

.projectDescription p {
  font-size: 1.5rem;
  margin: 0
}

.projectImg {
  padding: 2rem;
  flex: 40%;
}

.projectTitle {
  font-family: 'Cousine', monospace;
  font-weight: 300;
  font-size: 7rem;
  margin: 2rem 0 1rem 0;
}

@media only screen and (max-width: 1400px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectAlone {
    max-width: 900px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column !important;
  }
  .projectDescription {
    padding: 0;
  }
  .projectDescription p {
    font-size: 1.5rem;
  }
  .projectTitle {
    font-size: 3rem;
  }
  .projectImg {
    padding: 2rem;
  }
}

@media only screen and (max-width: 720px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectAlone {
    max-width: 1000px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column !important;
  }
  .projectDescription {
    padding: 0;
  }
  .projectDescription p {
    font-size: 1.2rem;
  }
  .projectTitle {
    font-size: 2.5rem;
  }
  .projectImg {
    padding: 1rem 0.5rem;
  }
}