
.contactForm {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  border: 2px solid black;
  margin: 2rem;
  padding: 2rem;
  font-family: 'Space Grotesk', sans-serif;
  max-width: 1000px;
}

.formTitle {
  font-size: 6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.formSection {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 2rem;
}

.formInput {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
}

.contactButton {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  padding: 1rem 2rem;
  border: 2px solid black;
  transition-duration: 0.2s;
  background-color:rgb(255, 94, 0);
  margin: 1.5rem 2rem;
}

.contactButton:hover {
  cursor: url('../../../public/hand_isometric.svg'), auto;
  color: #d8d8d8da;
  background-color: rgba(36, 36, 36);
}

@media only screen and (max-width: 720px) {
  .formContainer {
    margin: 1rem;
  }
  .formSection {
    padding: 1rem 0.2rem;
  }
  .formTitle {
    font-size: 3rem;
  }
  .formLabel {
    font-size: 1.2rem;
  }
  .formInput {
    font-size: 1rem;
  }
  .contactButton {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
  }
}