li {
  padding: 0.5rem
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1220px) {
  .landing-container {
    width: auto;
    min-height: 110vh;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  .left-container {
    width: 100%;
    height: 100%;
    display: grid;
    min-height: 65vh;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Right-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 45% 32% 23%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Name-container {
    font-size: 10vw
  }
  .Portfolio-a {
    font-size: 11vw
  }
  .Occupation-container {
    flex-direction: column;
  }
  .Portfolio-container {
    display:inline-block;
    width:100%;
    height:100%;
  }
  .Resume-container {
    align-items: flex-start;
  }
  .Resume-title {
    font-size: 10vw
  }
  .Contact-title {
    font-size: 10vw
  }
  .Project-alone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 600px) {
  .landing-container {
    width: auto;
    min-height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .left-container {
    min-height: 40vh;
    width: 100%;
    display: grid;
    grid-template-rows: 40% 35% 25%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Right-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 45% 28% 27%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Occupation-title {
    font-size: 10vw
  }
  .Occupation-desc {
    font-size: 3vw
  }
  .Resume-title {
    font-size: 12vw
  }
  .Resume-body {
    font-size: 3vw
  }
  .Contact-body {
    font-size: 3vw
  }
  .Social-container {
    align-items: center;
  }
  .Social-title {
    font-size: 10vw
  }
  .form-title {
    font-size: 12vw
  }
  .form-section {
    padding: 1rem 0;
  }
  .contact-button {
    font-size: 4vw;
    padding: 1rem
  }
  .Project-img {
    padding: 1rem;
  }
  .form-container {
    margin: 1rem;
  }
  .contact-button {
    margin-top: 1rem;
  }
}
