.landing-container {
  width: auto;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  margin: 2rem;
}

.left-container {
  flex: 65%;
  width: 65%;
  height: 100%;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: column;
}

.Right-container {
  flex: 35%;
  width: 35%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: column;
}

.Name-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 9.5vw;
  font-family: 'Stint Ultra Expanded', cursive;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
  color: rgb(36, 36, 36);
}

.Name {
  flex-wrap: wrap;
  color: rgb(36, 36, 36);
}

.Occupation-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
}

.Occupation-title {
  font-size: 6.5vw
}

.Contact-desc {
  font-size:2rem
}

.Portfolio-container {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  font-size: 8.2vw;
  font-family: 'Notable', sans-serif;
  overflow: hidden;
  align-items:center;
  justify-content: space-around;
  transition-duration: 0.5s;
  display: flex;
}

.Portfolio-container a {
  cursor: url('../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
}

.Portfolio-a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  border: none;
  cursor: url('../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
  display:inline-block;
  width:100%;
  height:100%;
}

.Resume-container {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:center;
  transition-duration: 0.5s;
  font-family: 'Space Grotesk', sans-serif;
} 

.Resume-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 8vw;
  margin: 0
}

.Resume-body {
  font-size: 2vw;
  margin: 0
}

.Contact-container {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  transition-duration: 0.5s;
  font-family: 'Space Grotesk', sans-serif;
}
.Contact-body {
  text-decoration: none;
  color: rgb(36, 36, 36);
  border: none;
  cursor: url('../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
  display:inline-block;
  width:100%;
  height:100%;
}

.Contact-title {
  font-size: 6vw;
  margin: 0
}

.Contact-body {
  font-size: 2vw;
  margin: 0
}

.Social-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da;
  font-size: 6vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.5s;
  font-family: 'Space Grotesk', sans-serif;
}

.Social-title {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  cursor: url('../public/hand_isometric.svg'), auto;
}

.icon {
  width: 2rem !important;
  margin: 0 2rem 0 2rem
}

.Social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30% !important;
}

.Name-container:hover,
.Portfolio-container:hover,
.Portfolio-container a:hover,
.Resume-container:Hover,
.Contact-container a:hover {
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da
}

.Portfolio-container:active {
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da;
}

.Occupation-container:hover,
.Social-container:hover {
  background-color: #d8d8d8da;
  color: rgb(36, 36, 36);
}

.about-me-container {
  background-color: rgb(36, 36, 36);
  min-height: 90vh;
  margin: 0;
  border-bottom: 1px solid #d8d8d8da;
  padding: 4rem 12rem;
  color: #d8d8d8da;
  font-family: 'Cousine', monospace;
}

.about-title {
  font-size: 5.5vw;
}

.about-p {
  font-size: 1.3vw
}
li {
  padding: 0.5rem
}

.project-container {
  background-color: rgb(36, 36, 36);
  margin-top: 0;
  width: auto;
  min-height: 100vh;
  padding: 2rem;
  color: #d8d8d8da
}

.Project-alone {
  display: flex;
  flex-direction: row;
  align-items: center
}

.Project-description {
  font-family: 'Cousine', monospace;
  padding: 2vw;
  flex: 60%
}

.Project-img {
  padding: 2rem;
  flex: 40%;
}

.Project-title {
  font-family: 'Cousine', monospace;
  font-weight: 300;
  font-size: 7.5vw;
}

img {
  max-width: 100%;
  height: auto;
}

.error-message {
  border: solid 1px black;
  padding: 1rem;
  transition-duration: 0.5s;
  background-color: rgba(255, 97, 97, 0.267);
}
.success-message {
  border: solid 1px black;
  padding: 1rem;
  transition-duration: 0.5s;
  background-color: rgba(97, 255, 105, 0.267);
}

.contact-form {
  min-height: 100vh
}

.form-container {
  border: 2px solid black;
  margin: 2rem;
  padding: 2rem;
  font-family: 'Space Grotesk', sans-serif;;
}

.form-title {
  font-size: 6.5vw;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 2vw;
}

.form-input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-family: 'Space Grotesk', sans-serif;
}

.contact-button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2vw;
  font-weight: 200;
  padding: 1.2rem 3rem;
  border: 2px solid black;
  transition-duration: 0.2s;
}

.contact-button:hover {
  cursor: url('../public/hand_isometric.svg'), auto;
  color: #d8d8d8da;
  background-color: rgba(36, 36, 36);
}

@media only screen and (max-width: 1220px) {
  .landing-container {
    width: auto;
    min-height: 110vh;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  .left-container {
    width: 100%;
    height: 100%;
    display: grid;
    min-height: 50vh;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Right-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 45% 32% 23%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Name-container {
    font-size: 10vw
  }
  .Portfolio-a {
    font-size: 11vw
  }
  .Occupation-container {
    flex-direction: column;
  }
  .Portfolio-container {
    display:inline-block;
    width:100%;
    height:100%;
  }
  .Resume-container {
    align-items: flex-start;
  }
  .Resume-title {
    font-size: 10vw
  }
  .Contact-title {
    font-size: 10vw
  }
  .Project-alone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 600px) {
  .landing-container {
    width: auto;
    min-height: 80vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .left-container {
    min-height: 30vh;
    width: 100%;
    display: grid;
    grid-template-rows: 40% 35% 25%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Right-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 45% 28% 27%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Occupation-title {
    font-size: 10vw
  }
  .Occupation-desc {
    font-size: 3vw
  }
  .Resume-title {
    font-size: 12vw
  }
  .Resume-body {
    font-size: 3vw
  }
  .Contact-body {
    font-size: 3vw
  }
  .Social-container {
    align-items: center;
  }
  .Social-title {
    font-size: 10vw
  }
  .form-title {
    font-size: 12vw
  }
  .form-section {
    padding: 1rem 0;
  }
  .contact-button {
    font-size: 4vw;
    padding: 1rem
  }
}