.landing-container {
  width: auto;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  font-family: 'Cousine', monospace;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  border: none;
  cursor: url('../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
}

.left-container {
  flex: 65%;
  width: 65%;
  height: 100%;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: column;
}

.Right-container {
  flex: 35%;
  width: 35%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: column;
}

.Name-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 10rem;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
  color: rgb(36, 36, 36);
}

.Name {
  flex-wrap: wrap;
  color: rgb(36, 36, 36);
}

.Occupation-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da;
  font-size: 7rem;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;

}

.Portfolio-container {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  font-size: 10rem;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  transition-duration: 0.5s;

}

.Portfolio-container a {
  cursor: url('../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
}

.Resume-container {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:center;
  transition-duration: 0.5s;
} 

.Resume-title {
  font-size: 10rem;
  margin: 0
}

.Resume-body {
  font-size: 2rem;
  margin: 0
}

.Contact-container {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  transition-duration: 0.5s;
}

.Contact-title {
  font-size: 7rem;
  margin: 0
}

.Contact-body {
  font-size: 2rem;
  margin: 0
}

.Social-container {
  border: 1px solid black;
  width: 100%;
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da;
  font-size: 7rem;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;

}

.Name-container:hover,
.Portfolio-container:hover,
.Portfolio-container a:hover,
.Resume-container:Hover,
.Contact-container:hover {
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da
}

.Portfolio-container:active {
  background-color: rgb(36, 36, 36);
  color: #d8d8d8da
}

.Occupation-container:hover,
.Social-container:hover {
  background-color: #d8d8d8da;
  color: rgb(36, 36, 36)
}

.project-container {
  background-color: rgb(36, 36, 36);
  margin-top: 2rem;
  width: auto;
  min-height: 100vh;
  padding: 2rem;
  color: #d8d8d8da
}

.Project-alone {
  display: flex;
  flex-direction: row;
  align-items: center
}

.Project-description {
  font-family: 'Cousine', monospace;
  padding: 2rem;
  flex: 60%
}

.Project-img {
  padding: 2rem;
  flex: 40%;
}

.Project-title {
  font-family: 'Cousine', monospace;
  font-weight: 300;
  font-size: 8rem
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1700px) {
  .landing-container {
    width: auto;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    font-family: 'Cousine', monospace;
  }
  .Name-container {
    font-size: 10rem;
  }
  .Occupation-container {
    font-size: 7rem;
  }
  .Portfolio-container {
    font-size: 9rem;
  }
  .Resume-title {
    font-size: 7rem;
  }
  .Resume-body {
    font-size: 1.5rem;
  }
  .Contact-container {
    font-size: 7rem
  }
  .Social-container {
    font-size: 7rem;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 1220px) {
  .landing-container {
    width: auto;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-family: 'Cousine', monospace;
  }
  .left-container {
    flex: 50%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  
  .Right-container {
    flex: 50%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 45% 32% 23%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Project-alone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column !important;
  }
  .Project-title {
    font-family: 'Cousine', monospace;
    font-weight: 300;
    font-size: 6rem
  }
  .Resume-container {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 900px) {
  .landing-container {
    width: auto;
    height: auto;
    border: 1px solid black;
    display: flex;
    font-family: 'Cousine', monospace;
  }
  .Name-container {
    font-size: 8rem;
  }
  .Occupation-container {
    font-size: 5rem;
  }
  .Portfolio-container {
    font-size: 6rem;
  }
  .Resume-container {
    font-size: 6rem;
  }
  .Contact-container {
    font-size: 6rem
  }
  .Social-container {
    font-size: 6rem;
  }
  .project-alone {
    display: flex;
    flex-direction: column;
  }
  .Project-title {
    font-family: 'Cousine', monospace;
    font-weight: 300;
    font-size: 4rem
  }
}

@media only screen and (max-width: 500px) {
  .landing-container {
    width: auto;
    height: auto;
    border: 1px solid black;
    display: flex;
    font-family: 'Cousine', monospace;
  }
  .left-container {
    flex: 50%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Right-container {
    flex: 50%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 48% 30% 22%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: column;
  }
  .Name-container {
    font-size: 3.6rem;
  }
  .Occupation-container {
    font-size: 3.5rem;
  }
  .Portfolio-container {
    font-size: 3.2rem;
  }
  .Resume-title {
    font-size: 4rem;
  }
  .Resume-body {
    font-size: 1rem;
  }
  .Contact-title {
    font-size: 3rem;
  }
  .Contact-body {
    font-size: 1rem;
  }
  .Social-container {
    font-size: 4rem;
  }
  .project-alone {
    display: flex;
    flex-direction: column;
  }
}