.App {
    margin: 0;
    background-color: #eeeeee;
}
html {
    cursor: url('../public/hand_isometric.svg'), auto;
    scroll-behavior: smooth;
    background-color: #eeeeee;
}

::selection { 
    background-color: rgb(255, 94, 0);
}
