.landingContainer {
  width: auto;
  height: 95vh;
  border: 1px solid black;
  display: flex;
  margin: 1rem;
}

.leftContainer {
  flex: 65%;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: column;
}

.rightContainer {
  flex: 35%;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: column;
}

.nameContainer {
  border: 1px solid black;
  font-size: 9vw;
  font-family: 'Stint Ultra Expanded', cursive;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
  color: rgb(36, 36, 36);
}

.name {
  flex-wrap: wrap;
  color: rgb(36, 36, 36);
}

.occupationContainer {
  border: 1px solid black;
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
}

.occupationTitle {
  font-size: 6vw
}

.contactDesc {
  font-size: 2vw
}

.portfolioContainer {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  font-family: 'Notable', sans-serif;
  overflow: hidden;
  transition-duration: 0.5s;
  font-size: 7vw;
}

.portfolioContainer a {
  cursor: url('../../../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
}

.portfolioA {
  text-decoration: none;
  color: rgb(36, 36, 36);
  border: none;
  cursor: url('../../../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
  display:inline-block;
  width:100%;
  height:100%;
}

.resumeContainer {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  transition-duration: 0.5s;
  font-family: 'Space Grotesk', sans-serif;
  background-color: rgb(255, 94, 0);
} 

.resumeTitle {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 8vw;
  margin: 0 0 0 1rem
}

.resumeBody {
  font-size: 2vw;
  margin: 0 0 0 1rem
}

.resumeBodyA {
  font-size: 1.5vw;
  margin: 0 0 0 1rem
}

.contactContainer {
  border: 1px solid black;
  color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  transition-duration: 0.5s;
  font-family: 'Space Grotesk', sans-serif;
}

.contactBody {
  text-decoration: none;
  color: rgb(36, 36, 36);
  border: none;
  cursor: url('../../../public/hand_isometric.svg'), auto;
  transition-duration: 0.5s;
  display:inline-block;
  width:100%;
  height:100%;
}

.contactTitle {
  font-size: 6vw;
  margin: 0
}

.contactBody {
  font-size: 2vw;
  margin: 0;
  padding: 0 0 0 1rem
}

.socialContainer {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  font-size: 6vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.5s;
  font-family: 'Space Grotesk', sans-serif;
}

.socialTitle {
  border: 0;
  margin: 0 0 0 1rem;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  cursor: url('../../../public/hand_isometric.svg'), auto;
}

.icon {
  width: 2rem !important;
  margin: 0 2rem 0 2rem
}

.socialIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30% !important;
}

.nameContainer:hover,
.portfolioContainer:hover,
.portfolioContainer a:hover,
.resumeContainer:Hover,
.contactContainer a:hover {
  background-color: rgb(255, 94, 0);
  text-decoration: line-through; 
}

.portfolioContainer:active {
  background-color: rgb(255, 94, 0);
}

.occupationContainer:hover,
.socialContainer:hover {
  background-color: rgb(255, 94, 0);
  color: rgb(36, 36, 36);
}